*{
  box-sizing: border-box;
  font-family: "Lucida Sans", sans-serif;
}
.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
table{
  margin: 0 auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  text-align: center;
  padding: 9px;
  text-align: center;

}
#plan td, #plan th{
  border: 1px solid #000;

}

#plan tr:nth-child(even) {
    background-color: #ddd;
}
hr{
  border: 1px solid #D3D3D3;

}
.vl{
  border-left: 2px solid #D3D3D3;

}


/* unvisited link */
a:link {
 color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
 color: #D3D3D3;
}

a:active {
  color: black;
}


.rechts{
  padding: 10px;
  width: 25%;
}
.links{
  padding: 10px;
  width: 75%;
}

@media only screen and (min-width: 750px) {
  .desktop-1-cols {width: 8.33%;}
  .desktop-2-cols {width: 16.66%;}
  .desktop-3-cols {width: 25.00%;}
  .desktop-4-cols {width: 33.33%;}
  .desktop-5-cols {width: 41.66%;}
  .desktop-6-cols {width: 50.00%;}
  .desktop-7-cols {width: 58.33%;}
  .desktop-8-cols {width: 66.66%;}
  .desktop-9-cols {width: 75.00%;}
  .desktop-10-cols {width: 83.33%;}
  .desktop-11-cols {width: 91.66%;}
  .desktop-12-cols {width: 100.00%;}
}
