#editor {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 70%;
}
html,body{
    height:100%;
    margin: 0;
   
}
#chat {
    position: absolute;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: beige;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    width: 5px;
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: #ddd;
    outline: 1px solid slategrey;
    border-radius: 1rem;
}

.text-small {
    font-size: 0.9rem;
}

.chat-box {
    height: 100%;
    overflow-y: scroll;
}

.rounded-lg {
    border-radius: 0.5rem;
}

input::placeholder {
    font-size: 0.9rem;
    color: #999;
}

#fileBar{
    height:50px;
    width: 70%;
    position: absolute;
}

#tutorNav {
    height:50px;
    width: 100%;
    position: absolute;
}

.media {
    margin-top: 20px;
}